<div class="page">
    <div class="flex-container">
        <div class="image">
            <img src="assets/mugshot.jpg" alt="Matthew Beres' beautiful face" class="mugShot">
        </div> <!--to the top left-->
        <div class="bio">
            <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ultricies, velit at congue auctor, felis dui hendrerit nibh, vitae vehicula odio lorem in ligula. Vestibulum rhoncus diam ac placerat interdum. Aliquam in bibendum erat, in rhoncus nulla. Mauris nisi tellus, porta vel erat id, egestas bibendum libero. Maecenas feugiat lectus sit amet felis semper laoreet. Vivamus non nunc vulputate, sodales lacus ac, vulputate eros. Nullam nec hendrerit enim. Duis euismod nec massa id volutpat. Vivamus vitae viverra mauris, non accumsan tortor. Donec vitae lobortis arcu. Etiam vestibulum tellus bibendum risus volutpat, ut vulputate neque tempor. Fusce porttitor tortor dolor, et tincidunt nulla sodales nec. Phasellus vitae fringilla justo. Suspendisse sollicitudin felis ut nunc consectetur sagittis. Integer venenatis nulla ante, ut dignissim turpis auctor nec. Phasellus ultrices risus ut neque pellentesque faucibus.

Vivamus bibendum gravida ante, a bibendum mauris sagittis sit amet. Morbi non imperdiet lacus. Proin varius mi sed magna efficitur posuere. Nunc dictum, nulla vitae auctor vehicula, nulla est venenatis purus, vitae volutpat lectus dui et magna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Pellentesque aliquet magna eu orci tristique, non tincidunt dolor congue. In eleifend, magna a ornare fermentum, nisi nunc pretium nunc, eu tristique quam enim ut turpis. Vestibulum pharetra lacinia quam vel euismod. Fusce posuere nibh vitae dui vulputate, a dapibus purus bibendum. Aenean ultricies lacus at nisl vehicula consectetur.
        
            </p>
        </div> <!--to the right of image-->
        <div class="break"></div>
        <div class="icon-links">icon</div> <!--below image-->
        <div class="languages">lang</div> <!--below bio-->
        <div class="break"></div>
        <div class="skills">skill</div> <!--along bottom-->
    </div>
</div>