
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="page">
    <div class="flex-container">
        <div class="image">
            <img src="assets/mugshot.png" alt="Matthew Beres' beautiful face" class="mugShot">
            <div class="icon-links" style="display: flex; justify-content: center;">
                <a href="https://www.github.com/matthewberes" class="fa fa-github" style="margin-right:2px"></a>
                <a href="#" class="fa fa-linkedin" style="margin-left:2px"></a>
            </div> <!--below image-->
        </div> <!--to the top left-->
        <div class="bio" style="display: flex; flex-direction: column; margin-top: -1%">
            <div>
                <h2>B.Sc. Hons. in Computer Science</h2>
                    <p>Software and Web Developer from Ontario, Canada. Available for any freelance or full-time work opportunities.</p>
                    <!-- <br> -->
                    <p>2+ years professional experience in a full-stack developer role at the Canada Revenue Agency. My work centered around revamping their website; mainly by rebuilding the front-end in Angular and polishing their Java back-end.</p>
            </div>
            <div>
                <h2>Language Proficiency</h2>
                <div style="display: flex; flex-wrap: wrap; margin-top: -10px;">
                    <div style="display: flex; margin-right: 20px;">
                        <img src="assets/html.png" alt="HTML" style="width: auto; height: 50px; margin-top: 2px;">
                        <div class="container" style="width: 52vh; margin-top: 12px; margin-bottom: 15px"> 
                            <div class="skill html">90%</div> 
                        </div> 
                    </div>
                    <div style="display: flex;">
                        <img src="assets/java.png" alt="Java" style="width: auto; height: 50px; margin-top: 2px;">
                        <div class="container" style="width: 52vh; margin-top: 12px; margin-bottom: 15px"> 
                            <div class="skill java">80%</div> 
                        </div>
                    </div>
                    <div style="display: flex;  margin-right: 20px;">
                        <img src="assets/javascript.png" alt="JavaScript" style="width: auto; height: 50px; margin-top: 2px;">
                        <div class="container" style="width: 52vh; margin-top: 12px; margin-bottom: 15px"> 
                            <div class="skill javascript">85%</div> 
                        </div>
                    </div>
                    <div style="display: flex;">
                        <img src="assets/c.png" alt="C" style="width: auto; height: 50px; margin-top: 2px;">
                        <div class="container" style="width: 52vh; margin-top: 12px; margin-bottom: 15px"> 
                            <div class="skill c">55%</div> 
                        </div>
                    </div>
                    <div style="display: flex; margin-right: 20px;">
                        <img src="assets/css.png" alt="CSS" style="width: auto; height: 50px; margin-top: 2px;">
                        <div class="container" style="width: 52vh; margin-top: 12px; margin-bottom: 15px"> 
                            <div class="skill css">75%</div> 
                        </div>
                    </div>
                    <div style="display: flex;">
                        <img src="assets/php.png" alt="PHP" style="width: auto; height: 50px; margin-top: 2px;">
                        <div class="container" style="width: 52vh; margin-top: 12px; margin-bottom: 15px"> 
                            <div class="skill php">50%</div> 
                        </div>
                    </div>
                    <div style="display: flex; margin-right: 20px;">
                        <img src="assets/rxjs.png" alt="RXJS" style="width: auto; height: 50px; margin-top: 2px;">
                        <div class="container" style="width: 52vh; margin-top: 12px; margin-bottom: 15px"> 
                            <div class="skill rxjs">70%</div> 
                        </div>
                    </div>
                    <div style="display: flex;">
                        <img src="assets/python.png" alt="Python" style="width: auto; height: 50px; margin-top: 2px;">
                        <div class="container" style="width: 52vh; margin-top: 12px; margin-bottom: 15px"> 
                            <div class="skill python">50%</div> 
                        </div>
                    </div>                        
                    <div style="display: flex; margin-right: 20px;">
                        <img src="assets/csharp.png" alt="C#" style="width: auto; height: 50px; margin-top: 2px;">
                        <div class="container" style="width: 52vh; margin-top: 12px; margin-bottom: 15px"> 
                            <div class="skill csharp">80%</div> 
                        </div>
                    </div>
                    <div style="display: flex;">
                        <img src="assets/r.png" alt="R" style="width: auto; height: 50px; margin-top: 2px;">
                        <div class="container" style="width: 52vh; margin-top: 12px; margin-bottom: 15px"> 
                            <div class="skill r">45%</div> 
                        </div>
                    </div>
                </div>
            </div>            
        </div> <!--to the right of image-->
        <div class="break"></div>
        <div class="skills" style="display: flex; justify-content: space-between; flex-wrap: wrap;">
            <img src="assets/agile.png" alt="agile experience (scrum)" class="">
            <img src="assets/testing.png" alt="skilled in unit testing" class="">
            <img src="assets/automation.png" alt="skilled in automation" class="">
            <img src="assets/angular.png" alt="skilled in angular" class="">
            <img src="assets/cybersecurity.png" alt="skilled in cybersecurity" class="">
            <img src="assets/data.png" alt="skilled in data analysis" class="">
            <img src="assets/office.png" alt="skilled in office 365" class="">
        </div> <!--along bottom-->
    </div>
</div>